<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDnb5yWVLP92D7SzkrMkzRfz8jiOX98jco</string>
	<key>GCM_SENDER_ID</key>
	<string>437878741797</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.simwego.esim.test</string>
	<key>PROJECT_ID</key>
	<string>sim-we-go-live</string>
	<key>STORAGE_BUCKET</key>
	<string>sim-we-go-live.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:437878741797:ios:de9713ae0056577c4718cc</string>
</dict>
</plist>